src/model.bin
logs/models/**
data/**
*.ckpt
experiment/lightning_logs
experiment/nemo_experiments
experiment/nemo_experiments/Punctuation_with_Domain_discriminator/*/checkpoints/
experiment/lightning_logs/*/checkpoints/
**/__pycache__/*
experiment/.hydra/
Punctuation_with_Domain_discriminator/*/checkpoints/
checkpoints/Punctuation_with_Domain_discriminator-last.ckpt
*.log
*.nemo
*.pack
